name: Build documentation

on:
  push:
    tags:
      - "*"

jobs:
  build_docs:
    name: Build docs 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: 'pip'

      - name: Get latest CMake
        uses: lukka/get-cmake@latest

      - name: Cache installed
        uses: actions/cache@v4
        with:
          path: installed
          key: installed-build-docs

      - name: Set up dependencies
        run: |
          python -m pip install setuptools
          python -c "import setup; setup.build_zlib(None); setup.build_libaec(None); setup.build_hdf5(None);"

      - name: Build docs
        run: |
          export DOLOMITE_INSTALLED_PATH=$(pwd)/installed
          touch src/dolomite_base/lib_dolomite_base.py
          pip install tox
          tox -e docs

      - name: GH Pages Deployment
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: ./docs/_build/html
          clean: true # Automatically remove deleted files from the deploy branch
