name: Build documentation

on:
  push:
    tags:
      - "*"

jobs:
  build_docs:
    name: Build docs 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Build docs
        run: |
          touch src/dolomite_base/lib_dolomite_base.py
          tox -e docs

      - name: GH Pages Deployment
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: ./docs/_build/html
          clean: true # Automatically remove deleted files from the deploy branch
